*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
}
.top{
    height: 10%;
    background: linear-gradient(#525FE1, #9ec7cc);
  }
  
  .bottom{
    height: 90%;
    overflow: hidden;
    background-image: url('./InfoBG.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
  }
  #login{
    float: right;
    background-color: #F86F03;
    height: 8vh;
    width: 10vw;
    margin: 0.5%;
    font-size: larger;
    color: white;
    border-radius: 10px;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 
        -0.5px -0.5px 0 #000,  
         0.5px -0.5px 0 #000,
        -0.5px  0.5px 0 #000,
         0.5px  0.5px 0 #000;
  }

  #login:hover{
    background-color: #fd8325;
  }

  #icon{
    height: 100%;
    float: left;
    margin-left: 10px;
  }

  .MenuButton{
    height: 6vh;
    width: 7vw;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 0.5%;
    font-size: larger;
    color: white;
    border-radius: 10px;
    background-color: #FFA41B;
    float: right;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 
        -0.5px -0.5px 0 #000,  
         0.5px -0.5px 0 #000,
        -0.5px  0.5px 0 #000,
         0.5px  0.5px 0 #000;
  }

  .MenuButton:hover{
    background-color: #fdb03c;
  }
  #AppName{
    font-size: 4vw;
    font-family: 'Bebas Neue', sans-serif;
    overflow: scroll;
}

#Pinos{
    width: 21vw;
    height: 8vh;
    object-fit: initial;
    background: linear-gradient(#505ad3, #94bbc0);
    border-radius: 15px;   
}

#emergency{
    height: 6vh;
    width: 7vw;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 0.5%;
    font-size: larger;
    color: white;
    border-radius: 10px;
    background-color: red;
    float: right;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 
        -0.5px -0.5px 0 #000,  
         0.5px -0.5px 0 #000,
        -0.5px  0.5px 0 #000,
         0.5px  0.5px 0 #000;
}

.table{
    width: 80vw;
    margin-top: 4vh;
}

.subtitle{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5vh;
}